.one{
    background-color: lightpink;
    width: 300px;
    height: 200px;
    margin: 30px 30%;
}
.two{
    background-color: aqua;
    width: 300px;
    height: 200px;
    margin: 30px 30%;
}
p{
    background-color: chartreuse;
    width: 1000px;
    margin-left: 10%;
    
}